/* Global Styles */
@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/notoserifkr/v20/3S99D7GByat6tVsM9uHdfY7qX-vS.woff2) format('woff2');
  }

::selection {
    background-color: #D14D4D;
    color: white;
}

body {
    -webkit-tap-highlight-color: transparent;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #e2e2e2;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d1d1d1;
}
